.footer-menu__float-left {
	float: left;
    padding-left: .75rem;
}

.footer-menu__float-right {
	float: right;
}

@media all and (min-width:960px) {
	.footer-menu__float-left_middle {
		left: -18%;
	    position: relative;
	}
	
	.footer-menu__float-right_middle {
	    left: 18%;
	    position: relative;
	}	
}

@media all and (min-width:0px) and (max-width: 959px) {
	.footer-menu__float-left_middle {
		left: -8%;
	    position: relative;
	}
	
	.footer-menu__float-right_middle {
	    left: 8%;
	    position: relative;
	}
}