.menubutton-button {
	cursor: pointer;
	border-radius: 40px;
	transition: all .25s cubic-bezier(.175, .885, .32, 1.275);
	/*filter: grayscale(100%);*/
	user-select: none;
}

.menubutton-icon {
	width: 20px;
	height: 35px;
	display: inline-block;
	position: relative;
	margin-right: 1rem;
	margin-right: 1rem;
	font-size: 1.5rem;
	background-size: 100%;
}

.menubutton-selected {
	/* color: #ff6e6f; */
	border-color: currentColor;
}

.menubutton-selected .menubutton-icon {
	background: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><style>.cls-1{fill:none;stroke:#linen;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><title/><line class="cls-1" x1="1" x2="47" y1="10" y2="10"/><line class="cls-1" x1="1" x2="47" y1="24" y2="24"/><line class="cls-1" x1="1" x2="47" y1="38" y2="38"/></svg>') no-repeat center;
	background-size: 100%;
}